.header {
  width: 100%;
  background-color: var(--color-scheme-2-background);
  padding: 16px 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoWrapper {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.desktopNav {
  display: none;

  @media only screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    gap: 28px;
    margin-left: auto;
    margin-right: 24px;
  }
}

.userBarWrapper {
  display: none;

  @media only screen and (min-width: 1200px) {
    display: block;
    padding-left: 8px;
  }
}

.burgerMenuBtn {
  display: flex;
  align-items: center;
  padding-left: 16px;

  @media only screen and (min-width: 1200px) {
    display: none;
  }
}

.authBarWrapper,
.publishWrapper {
  display: none;

  @media only screen and (min-width: 565px) {
    display: block;
  }
}

.publish {
  padding: 7px 20px;
  height: 40px;
  min-width: 196px;
}
