.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 12px;
  background: var(--color-scheme-2-foreground);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 24px) / 2);
  }
  @media screen and (min-width: 1440px) {
    flex-basis: calc((100% - (2 * 24px)) / 3);
  }
}

.content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  flex-grow: 1;
}

.titleWrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}

.point {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--color-scheme-2-text);
}

.icon {
  width: 16px;
  height: 16px;
}

.buttonIcon {
  width: 24px;
  height: 24px;
}

.buttonWrapper {
  display: flex;
  gap: 16px;
}

.buttonMore {
  width: 100%;
  font-size: 16px;
}

.buttonFav {
  padding: 11px;
}
