.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 44px;
  }
}

@media only screen and (min-width: 1440px) {
  .title {
    font-size: 52px;
  }
}

.slider-wrapper {
  position: relative;
}

.next,
.prev {
  position: static;
  top: 50%;

  width: 48px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-mantis-lighter);
  border-radius: 8px;
  cursor: pointer;
  transition: all var(--transition);
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 12px;
}

.next:hover,
.prev:hover {
  background-color: var(--color-neutral-lightest);
  border-color: var(--color-mantis-light);
}

.next:active,
.prev:active,
.next:focus,
.prev:focus {
  background-color: var(--color-mantis-light);
  border-color: var(--color-mantis-light);
}

.prev {
  left: -20px;
}

.next {
  right: -20px;
}

.cardWrapper {
  height: 317px;
  background-color: var(--color-mantis-lighter);
  border-radius: 12px;
  border: 0px solid rgba(0, 0, 0, 0.15);
}

.wrapper {
  /* max-width: 1440px; */
  padding-top: 72px;
  padding-bottom: 72;
  /* height: 1000px; */
}

@media only screen and (min-width: 768px) {
  .wrapper {
    height: auto;
  }
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: end;
  margin-top: 40px;
}

.titleWrapper {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
}

.titleWrapper h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -0.01em;
}

@media only screen and (min-width: 768px) {
  .titleWrapper h2 {
    font-size: 44px;
  }
}

@media only screen and (min-width: 1440px) {
  .titleWrapper h2 {
    font-size: 52px;
  }
}

.appLinkUp,
.appLinkDown {
  display: flex;
  padding: 6px 12px !important;
  height: 48px;
  font-weight: 500;
  font-size: 16px !important;
  line-height: 150%;
  width: 166px;
  white-space: nowrap;
}

.appLinkDown {
  margin-top: 48px;
  width: 100%;
}

@media (max-width: 767px) {
  .appLinkUp {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .appLinkDown {
    display: none !important;
  }
}

.arrow {
  width: 24px;
  height: 24px;
}

@media only screen and (max-width: 767px) {
  .swiperContainer {
    height: calc(317px * 3 + 24px * 2);
    width: 100%;
    overflow: hidden;
  }
}

.swiper-slide {
  height: calc((100% - 48px) / 3);
}

/* @media only screen and (max-width: 767px) {
  .swiper-slide {
    height: calc((100% - 48px) / 4);
  }
} */

/* @media only screen and (min-width: 768px) {
  .swiperContainer {
    height: 658px;
  }
} */

/* @media only screen and (min-width: 1440px) {
}  */

.swiper {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .swiperContainer {
    height: 335px;
  }
}