.wrapper {
  padding: 72px 0;
}

.gridContainer {
  display: grid;
  gap: 48px;
  grid-template-areas:
    "title"
    "slider"
    "nav"
    "link";

  @media only screen and (min-width: 768px) {
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "title link"
      "slider slider"
      "nav nav";
    align-items: center;
  }
}

.title {
  grid-area: title;
  font-weight: 700;
  font-size: 28px;
  margin: 0;

  @media only screen and (min-width: 768px) {
    font-size: 44px;
  }

  @media only screen and (min-width: 1440px) {
    font-size: 52px;
  }
}

.sliderWrapper {
  grid-area: slider;
  width: 100%;
  min-width: 0;
  overflow: hidden;
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper[class*="OurTravellers"] {
  @media (max-width: 767px) {
    height: calc(335px * 3 + 24px * 2);
  }

  @media only screen and (min-width: 768px) {
    height: calc(317px * 2 + 24px);
  }

  @media only screen and (min-width: 1440px) {
    height: 335px;
  }
}

.navigationWrapper {
  grid-area: nav;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.appLink {
  grid-area: link;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  padding: 6px 12px !important;
  white-space: nowrap;
  flex-shrink: 0;
  font-size: 16px;

  @media only screen and (min-width: 1440px) {
    font-size: 20px;
  }
}

.next,
.prev {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid var(--color-scheme-1-border);
  background: var(--color-mantis-lighter);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all var(--transition);

  &:active {
    background: var(--color-mantis-light);
    transform: scale(0.95);
  }

  &:hover,
  &:focus-visible {
    border: 1px solid var(--color-mantis-light);
    background: var(--color-mantis-light);
  }
}

.arrow {
  width: 24px;
  height: 24px;
}
