.mainAuthNav {
  position: relative;
  display: flex;
  margin-bottom: 32px;
  width: 100%;
  height: 51px;
}

.mainAuthNav::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: var(--color-scheme-1-border);
  transition: transform var(--transition);
}

.mainAuthNav.registerActive::after {
  transform: translateX(0);
}

.mainAuthNav.loginActive::after {
  transform: translateX(100%);
}

.mainAuthLink {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-scheme-1-text);

  &:hover,
  &:focus-visible {
    color: var(--color-mantis-dark);
  }

  @media only screen and (min-width: 565px) {
    font-size: 18px;
  }
}
