.authHeaderLogo {
  display: flex;
  text-decoration: none;
  width: fit-content;
}

.authHeaderSvg {
  stroke: none !important;
  width: 124px;
  height: 36px;
}

.authHeaderWrapper {
  padding: 16px 0;
  height: 72px;
  width: 100%;
}
