.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  line-height: 1.5;
  padding: 8px 16px;
  cursor: pointer;
  transition: all var(--transition);
  font-weight: 500;
  border: 1px solid transparent;

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
  }
}

/* --- ВАРІАНТ MANTIS --- */
.mantis {
  background-color: var(--color-mantis-dark);
  border-color: var(--color-mantis-dark);
  color: var(--color-white);
}

.mantis:not(:disabled):hover,
.mantis:not(:disabled):focus-visible {
  background-color: var(--color-mantis-lighter);
  border-color: var(--color-mantis-lighter);
  color: var(--color-mantis-darker);
}

.mantis:active {
  transform: scale(0.97);
  background-color: var(--color-mantis-dark);
}

/* --- ВАРІАНТ NEUTRAL --- */
.neutral {
  background-color: var(--opacity-neutral-darkest-5);
  border-color: var(--color-scheme-2-border);

  color: var(--color-scheme-2-text);
}

.neutral:not(:disabled):hover,
.neutral:not(:disabled):focus-visible {
  background-color: var(--color-mantis-dark);
  border-color: var(--color-mantis-dark);
  color: var(--color-white);
}

.neutral:active {
  transform: scale(0.97);
  background-color: var(--color-mantis-darker);
}

.button svg {
  fill: currentColor;
  stroke: currentColor;
  width: 1.2em;
  height: 1.2em;
  flex-shrink: 0;
}

.button svg[fill="currentColor"] {
  fill: currentColor;
  stroke: none;
}

/* --- ЛОАДЕР --- */
.loaderWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.spinner {
  width: 18px;
  height: 18px;
  border: 2px solid currentColor;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.dot {
  animation: blink 1.4s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}
