.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  line-height: 1.5;
  padding: 10px 28px;
  cursor: pointer;
  transition:
    background-color var(--transition),
    border-color var(--transition),
    color var(--transition),
    transform 0.1s ease;
  border: 1px solid transparent;
  user-select: none;

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.contentWrapper,
.loaderWrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  height: 100%;
}

.buttonText {
  display: inline-flex;
  align-items: baseline;
}

.iconOnly {
  padding: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

/* --- ВАРІАНТ MANTIS --- */
.mantis {
  background-color: var(--color-mantis-dark);
  border: 1px solid var(--color-mantis-dark);

  &:not(.disabled):hover,
  &:not(.disabled):focus {
    background: var(--color-mantis-lighter);
  }

  &:active {
    background: var(--color-mantis-dark);
    border: 1px solid var(--color-mantis-dark);
    transform: scale(0.97);
  }
}

:global([data-theme="dark"]) .mantis {
  color: #fff !important;
}

:global([data-theme="light"]) .mantis {
  color: #fff !important;

  &:not(.disabled):hover,
  &:not(.disabled):focus {
    color: #1b391b !important;
  }
}

/* --- ВАРІАНТ NEUTRAL --- */
.neutral {
  background-color: var(--opacity-neutral-darkest-5);
  border: 1px solid var(--color-scheme-2-border);

  &:not(.disabled):hover,
  &:not(.disabled):focus {
    border: 1px solid var(--opacity-transparent);
    background: var(--color-mantis-dark);
  }

  &:active {
    background: var(--color-mantis-darker);
    border: 1px solid var(--opacity-transparent);
    transform: scale(0.95);
  }

  &.disabled {
    border: 1px solid var(--opacity-transparent);
  }
}

:global([data-theme="dark"]) .neutral {
  color: #fff !important;
}

:global([data-theme="light"]) .neutral {
  color: #1b391b !important;
}

/* --- ІКОНКИ --- */
.iconWrapper,
.buttonLoader {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.iconWrapper svg {
  fill: currentColor;
  stroke: currentColor;
  width: 1.2em;
  height: 1.2em;
}

.iconWrapper svg[fill="currentColor"] {
  fill: currentColor;
  stroke: none;
}

/* --- АНІМАЦІЯ КРАПОК --- */
.dots {
  display: inline-flex;
  margin-left: 2px;
}

.dot {
  animation: blink 1.4s infinite both;
  animation-delay: var(--delay);
}

@keyframes blink {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}
