.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  gap: 24px;

  @media only screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.card {
  width: 100%;

  @media only screen and (min-width: 768px) {
    flex: 0 0 calc((100% - 48px) / 3);
    max-width: calc((100% - 48px) / 3);
  }

  @media only screen and (min-width: 1440px) {
    flex: 0 0 calc((100% - 72px) / 4);
    max-width: calc((100% - 72px) / 4);
  }
}
