.label {
  display: inline-block;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: inherit;
}

.mobileOnly {
  display: block;

  @media only screen and (min-width: 565px) {
    display: none;
  }
}

.desktopOnly {
  display: none;

  @media only screen and (min-width: 565px) {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;

    width: max-content;
    max-width: 100%;
    height: 46px;

    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;

    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.btn {
  white-space: nowrap;
  padding: 6px !important;
  border: 1px solid var(--opacity-transparent) !important;
  background: transparent !important;
  transition:
    color var(--transition),
    background var(--transition),
    transform var(--transition);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  @media only screen and (min-width: 1200px) {
    font-size: 18px;
  }

  &:hover,
  &:focus-visible {
    border: 1px solid var(--opacity-transparent) !important;
    background: var(--color-scheme-2-foreground) !important;
  }
}

.active {
  background: var(--color-scheme-2-foreground) !important;
  cursor: default;
}
