.travellerProfilePageSection {
  padding: 48px 0 72px 0;
}

.backLink {
  margin-bottom: 24px;
}

.travellerProfilePageTitle {
  line-height: 1.2;
  color: var(--color-scheme-1-text);
  margin-bottom: 40px;

  font-size: 28px;

  @media only screen and (min-width: 565px) {
    font-size: 44px;
  }

  @media only screen and (min-width: 1200px) {
    font-size: 52px;
  }
}
