.travellerProfileClientList {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 24px;

  @media only screen and (min-width: 565px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.travellerProfileClientcard {
  @media only screen and (min-width: 565px) {
    flex-basis: calc((100% - 24px) / 2);
  }

  @media only screen and (min-width: 1200px) {
    flex-basis: calc((100% - (24px * 2)) / 3);
  }
}

.travellerProfileClientBtnWrapper {
  display: flex;
  justify-content: center;
}
