.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
  width: 100%;
}

.link {
  padding: 3px 10px;
  white-space: nowrap;
}

.column .link {
  width: 100%;
  text-align: center;
}
