.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.primary {
  padding: 4px 10px;
  border-radius: 6px;
  border: 1px solid var(--color-mantis-dark);
  border-radius: 6px;
  padding: 4px 10px;
  background: var(--color-mantis-dark);
  color: var(--color-white);
  transition:
    border var(--transition),
    background var(--transition),
    color var(--transition);
}

.primary:hover,
.primary:focus {
  border: 1px solid var(--color-mantis-dark);
  background: var(--color-mantis-lighter);
  color: var(--color-scheme-2-text);
}

.primary:active {
  border: 1px solid var(--color-mantis-dark);
  background: var(--color-mantis-dark);
  color: var(--color-white);
}

.link {
  border: 1px solid var(--color-scheme-2-border);
  border-radius: 6px;
  padding: 4px 10px;
  background: var(--opacity-neutral-darkest-5);
  color: var(--color-scheme-2-text);
  transition:
    border var(--transition),
    background var(--transition),
    color var(--transition);
}

.link:hover,
.link:focus {
  border: 1px solid var(--opacity-transparent);
  background: var(--color-mantis-dark);
  color: var(--color-white);
}

.link:active {
  border: 1px solid var(--opacity-transparent);
  background: var(--color-mantis-darker);
}

@media only screen and (max-width: 767px) {
  .auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
  }

  .link {
    text-align: center;
    width: 100%;
    border: 1px solid var(--color-scheme-2-border);
    border-radius: 6px;
    padding: 4px 10px;
    min-width: 335px;
    background-color: var(--opacity-neutral-darkest-5);
  }

  .primary {
    text-align: center;
    width: 100%;
    border: 1px solid var(--color-mantis-dark);
    border-radius: 6px;
    padding: 4px 10px;
    min-width: 335px;
    background-color: var(--color-mantis-dark);
  }
}
