.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  padding-top: 32px;
  padding-bottom: 64px;

  @media (min-width: 1440px) {
    padding-top: 48px;
    padding-bottom: 72px;
  }
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--color-scheme-1-text);

  @media (min-width: 768px) {
    font-size: 48px;
  }

  @media (min-width: 1440px) {
    font-size: 56px;
  }
}

.loadMore {
  align-self: center;
  padding: 6px 10px;

  font-weight: 500;
  font-size: 20px;

  min-height: 48px;
  min-width: 160px;
}
