.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  padding-top: 32px;
  padding-bottom: 64px;

  @media only screen and (min-width: 1200px) {
    padding-top: 48px;
    padding-bottom: 72px;
  }
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1;

  @media only screen and (min-width: 565px) {
    font-size: 48px;
  }

  @media only screen and (min-width: 1200px) {
    font-size: 56px;
  }
}
