.heroSection {
  padding: 64px 0;

  @media only screen and (min-width: 1440px) {
    padding: 72px 0;
  }
}

@media only screen and (min-width: 1440px) {
  .heroWrapper {
    display: flex;
    flex-direction: row-reverse;
    gap: 24px;
    align-items: center;
  }

  .textWrapper {
    max-width: 644px;
  }
}

.imageWrapper {
  width: 100%;
  margin-bottom: 24px;

  @media only screen and (min-width: 1440px) {
    margin: 0;
    width: 644px;
    height: 580px;
    flex-shrink: 0;
  }
}

.heroImg {
  border-radius: 12px;
  display: block;
  width: 100%;
  height: auto;

  aspect-ratio: 335 / 469;
  object-fit: cover;

  @media only screen and (min-width: 768px) {
    aspect-ratio: 704 / 469;
  }

  @media only screen and (min-width: 1440px) {
    aspect-ratio: 644 / 580;
    height: 100%;
  }
}

.heroText {
  margin-top: 24px;
  margin-bottom: 32px;

  @media only screen and (min-width: 1440px) {
    font-size: 20px;
  }
}

.heroLink {
  padding: 6.5px 0px;
  display: block;
  border-radius: 6px;
  border: 1px solid var(--color-mantis-dark);
  color: var(--color-white);
  text-align: center;
  background-color: var(--color-mantis-dark);
  transition: all var(--transition);

  &:hover,
  &:focus {
    background-color: var(--color-mantis-lighter);
    color: inherit;
  }

  &:active {
    color: var(--color-white);
    background-color: var(--color-mantis-darker);
    border: 1px solid var(--color-mantis-darker);
  }

  @media only screen and (min-width: 768px) {
    display: inline-block;
    padding: 6.5px 12px;
    min-width: 228px;
  }

  @media only screen and (min-width: 1440px) {
    padding: 3.5px 12px;
    font-size: 20px;
    min-width: 278px;
  }
}