.heroSection {
  padding: 64px 0;

  @media only screen and (min-width: 1200px) {
    padding: 72px 0;
  }
}

@media only screen and (min-width: 1200px) {
  .heroWrapper {
    display: flex;
    flex-direction: row-reverse;
    gap: 24px;
    align-items: center;
  }

  .textWrapper,
  .imageWrapper {
    flex: 1;
    width: 50%;
  }
}

.imageWrapper {
  border-radius: 12px;
  width: 100%;
  margin-bottom: 24px;
  overflow: hidden;

  @media only screen and (min-width: 1200px) {
    width: auto;
    margin: 0;
    height: 580px;
    flex-shrink: 0;
  }
}

.heroImg {
  border-radius: 12px;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: var(--color-scheme-2-foreground);
}

.heroText {
  margin-top: 24px;
  margin-bottom: 32px;

  @media only screen and (min-width: 1200px) {
    font-size: 20px;
  }
}

.heroLink {
  min-height: 48px;
  width: 100%;
  padding: 10px 28px;
  border: 1px solid var(--color-mantis-dark);
  background-color: var(--color-mantis-dark);
  transition: all var(--transition);

  &:hover,
  &:focus {
    background-color: var(--color-mantis-lighter);
  }

  &:active {
    background-color: var(--color-mantis-darker);
    border: 1px solid var(--color-mantis-darker);
    transform: scale(0.95);
  }

  @media only screen and (min-width: 565px) {
    max-width: 320px;
  }

  @media only screen and (min-width: 1200px) {
    font-size: 20px;
  }
}

:global([data-theme="dark"]) .heroLink {
  color: #fff !important;
}

:global([data-theme="light"]) .heroLink {
  color: #fff !important;

  &:hover,
  &:focus {
    color: #1b391b !important;
  }

  &:active {
    color: #fff !important;
  }
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1;

  @media only screen and (min-width: 565px) {
    font-size: 48px;
  }

  @media only screen and (min-width: 1200px) {
    font-size: 56px;
  }
}
