.deleteBtn {
  width: 100%;
  height: 48px;
  background: var(--opacity-neutral-darkest-5);
  border-color: var(--color-scheme-2-border);
  padding: 10px 28px;
  color: var(--color-scheme-2-text);
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  transition:
    background var(--transition),
    border-color var(--transition),
    color var(--transition);
}

.deleteBtn:not(:disabled):hover,
.deleteBtn:not(:disabled):focus-visible,
.deleteBtn:active {
  border-color: var(--color-red);
  background: var(--opacity-neutral-darkest-5);
  color: var(--color-red);
}

.deleteBtn:global(.loading) {
  border-color: var(--color-red);
}

@media only screen and (min-width: 565px) {
  .deleteBtn {
    border-radius: 12px;
    width: 48px;
    padding: 0;
  }

  .deleteBtn [class*="buttonText"] {
    display: none;
  }

  .deleteBtn [class*="iconWrapper"] svg {
    width: 20px;
    height: 20px;
  }
}
