.profileLayoutWrapper {
  padding: 32px 0 64px;

  @media only screen and (min-width: 1440px) {
    padding: 48px 0 72px 0;
  }
}

/* .settingsContent {
  max-width: 560px;
  margin: 40px auto;
  width: 100%;
  padding: 24px;
} */
