.loginFormParagraph {
  margin-top: 24px;
  font-size: 16px;
  text-align: center;
  color: var(--color-scheme-1-text);
  margin-bottom: 32px;
  font-weight: 400;

  @media only screen and (min-width: 768px) {
    font-size: 20px;
  }
}
