.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 24px;
}

.pictureWrapper {
  width: 130px;
  height: 130px;
}

.picture {
  border-radius: 50%;
  overflow: hidden;
}

.userInfo {
  margin-bottom: 16px;
}

.userButton {
  height: 48px;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

@media only screen and (min-width: 1440px) {
  .userButton {
    font-size: 20px;
  }
}

.infoWrappper {
  width: 100%;
}

.userName {
  max-width: 262px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
}

@media only screen and (min-width: 1440px) {
  .userName {
    font-size: 26px;
  }
}

.infoWrappper p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

@media only screen and (min-width: 1440px) {
  .infoWrappper p {
    font-size: 20px;
  }
}