.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 24px 16px 16px 16px;
  border-radius: 12px;
  background-color: var(--color-mantis-lighter);
}

.pictureWrapper {
  width: 40%;
  min-width: 130px;
  max-width: 170px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.infoWrappper {
  width: 100%;
}

.userInfo {
  margin-bottom: 16px;
}

.userName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;

  @media only screen and (min-width: 1200px) {
    font-size: 26px;
  }
}

.infoWrappper p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  @media only screen and (min-width: 1200px) {
    font-size: 20px;
  }
}

.userButton {
  height: 48px;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  @media only screen and (min-width: 1200px) {
    font-size: 20px;
  }
}

.skeletonAvatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.skeletonName {
  height: 22px;
  width: 90%;
  margin-bottom: 9px;
  border-radius: 4px;

  @media only screen and (min-width: 1200px) {
    height: 34px;
  }
}

.skeletonText {
  height: 20px;
  width: 45%;
  border-radius: 4px;

  @media only screen and (min-width: 1200px) {
    height: 26px;
  }
}

.skeletonButton {
  height: 48px;
  width: 100%;
  border-radius: 6px;
}
