.errorWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--color-scheme-1-text);
  font-family: var(--font-family);
  max-width: 375px;
  margin: 0 auto;

  @media only screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media only screen and (min-width: 1440px) {
    max-width: 1440px;
  }
}

.title {
  margin: 0px;
  margin-bottom: 12px;
  color: var(--color-red);
}

.description {
  margin-bottom: 18px;
}
