.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);

  @media (min-width: 768px) {
    font-size: 48px;
  }

  @media (min-width: 1440px) {
    font-size: 56px;
  }
}

.left {
  text-align: left;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.right {
  text-align: right;
}
