.profileTabsNav {
    display: inline-flex;
    align-items: center;
    background: var(--color-scheme-2-foreground);
    padding: 4px;
    border-radius: 10px;
    height: 40px;
    margin-bottom: 40px;

    @media only screen and (min-width:768px) {
        height: 48px;
    }

}

.profileTabsLink {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 12px;
    width: 163px;
    text-decoration: none;
    color: var(--color-scheme-2-text);
    border-radius: 10px;
    transition: var(--transition);
    white-space: nowrap;
    font-weight: 400;

    @media only screen and (min-width:768px) {
        width: 207px;
    }
}

.profileTabsActive {
    background: var(--color-scheme-2-background);
    font-weight: 500;
    border: 1px solid var(--color-scheme-2-border);
}