.profileTabsNav {
  display: inline-flex;
  align-items: center;
  background: var(--color-scheme-2-foreground);
  padding: 6px;
  border-radius: 10px;
  margin-bottom: 40px;
  width: 100%;

  @media only screen and (min-width: 565px) {
    width: auto;
    height: 54px;
  }
}

.profileTabsLink {
  height: 100%;
  padding: 8px 18px;
  width: 50%;
  text-decoration: none;
  color: var(--color-scheme-2-text);
  transition: var(--transition);
  white-space: nowrap;

  @media only screen and (min-width: 565px) {
    width: 208px;
  }
}

.profileTabsActive {
  background: var(--color-scheme-2-background);
  border: 1px solid var(--color-scheme-2-border);
}
