.user {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: nowrap;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  gap: 8px;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transform: scale(1);
  transition: transform var(--transition);
}

.profile:hover {
  transform: scale(1.05);
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
}

.avatarImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.divider {
  width: 1px;
  height: 29px;
  background: var(--color-scheme-1-border);
  flex: 0 0 auto;
}

.name {
  font-weight: 400;
  font-size: 12px;
  color: var(--color-scheme-2-text);
}

.logout {
  display: inline-flex;
  padding: 6px 0;
  transition: transform var(--transition);
}

.logout:hover {
  transform: scale(1.1);
}

.logoutSvg {
  width: 24px;
  height: 24px;
}

@media only screen and (max-width: 768px) {
  .user {
    gap: 16px;
  }

  .divider {
    height: 29px;
  }
}

@media only screen and (max-width: 375px) {
  .user {
    width: 100%;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
  }

  .bottom {
    width: 100%;
    justify-content: center;
  }
}
