.closeBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 4px;

  @media only screen and (min-width: 1440px) {
    top: 24px;
    right: 24px;
  }
}

.iconClose {
  display: block;
  width: 24px;
  height: 24px;
  fill: #1b391b !important;
  color: #1b391b !important;
}

:global([data-theme="light"]) .iconClose {
  fill: #1b391b !important;
  color: #1b391b !important;
}

:global([data-theme="dark"]) .iconClose {
  fill: #e6f7e6 !important;
  color: #e6f7e6 !important;
}

.titleModal {
  margin-bottom: 16px;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--color-scheme-1-text);

  @media only screen and (min-width: 768px) {
    font-size: 32px;
  }

  @media only screen and (min-width: 1440px) {
    font-size: 48px;
  }
}

.textModal {
  margin-bottom: 32px;
  font-weight: 400;
  text-align: center;
  letter-spacing: -0.05em;
  color: var(--color-scheme-1-text);

  @media only screen and (min-width: 1440px) {
    font-size: 20px;
    letter-spacing: -0em;
  }
}

@media only screen and (min-width: 768px) {
  .navigationWrapper {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
  }
}

.loginLink,
.registerLink,
.cancelBtn,
.logoutBtn,
.deleteBtn {
  display: block;
  padding: 11px;
  text-align: center;
  border-radius: 6px;

  @media only screen and (min-width: 1440px) {
    padding: 8px;
  }
}

.loginLink,
.cancelBtn {
  margin-bottom: 24px;
  width: 100%;
  background-color: var(--opacity-neutral-darkest-5);
  border: 1px solid var(--color-scheme-2-border);
  color: var(--color-scheme-1-text);
  transition:
    background-color var(--transition),
    border-color var(--transition),
    color var(--transition);

  &:hover,
  &:focus {
    background-color: var(--color-mantis-dark);
    border-color: var(--color-mantis-dark);
    color: #fff;
  }

  @media only screen and (min-width: 768px) {
    margin-bottom: 0;
    max-width: 203px;
  }

  @media only screen and (min-width: 1440px) {
    font-size: 20px;
  }
}

.logoutBtn,
.cancelBtn,
.deleteBtn {
  font-weight: 500;
  line-height: 1.5;
}

.registerLink,
.logoutBtn {
  width: 100%;
  background-color: var(--color-mantis-dark);
  border: 1px solid var(--color-mantis-dark);

  transition:
    background-color var(--transition),
    color var(--transition);

  &:hover,
  &:focus {
    background-color: var(--color-mantis-lighter);
  }

  @media only screen and (min-width: 768px) {
    max-width: 203px;
  }

  @media only screen and (min-width: 1440px) {
    font-size: 20px;
  }
}

:global([data-theme="light"]) .registerLink,
:global([data-theme="light"]) .logoutBtn {
  color: #fff !important;

  &:hover,
  &:focus,
  &:active {
    color: #1b391b !important;
  }
}

:global([data-theme="dark"]) .registerLink,
:global([data-theme="dark"]) .logoutBtn {
  color: #fff !important;

  &:hover,
  &:focus,
  &:active {
    color: #fff !important;
  }
}

.deleteBtn {
  width: 100%;
  background-color: var(--color-red);
  border: 1px solid var(--color-red);
  color: #fff;
  transition:
    background-color var(--transition),
    color var(--transition);

  &:hover,
  &:focus {
    background-color: var(--opacity-neutral-darkest-5);
    color: var(--color-red);
  }

  @media only screen and (min-width: 768px) {
    max-width: 203px;
  }

  @media only screen and (min-width: 1440px) {
    font-size: 20px;
  }
}
