.registrationForm {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.registrationField {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}

.registrationLabel {
    font-weight: 400;
    font-size: 18px;
    color: var(--color-scheme-1-text);
}

.registrationInput {
    width: 100%;
    font-size: 16px;
    outline: none;
    background: var(--opacity-transparent);
    transition: var(--transition);
    border: 1px solid var(--opacity-neutral-darkest-15);
    border-radius: 6px;
    padding: 8px;
    height: 43px;

    &:focus {
        border: 1px solid var(--color-scheme-1-accent);
    }
}

.registrationInputError {
    border: 1px solid var(--color-red);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--color-red);
}

.registrationErrorText {
    color: var(--color-red);
    font-size: 12px;
    font-weight: 400;
}

.registrationSubmitButton {
    width: 100%;
    border: 1px solid var(--color-mantis-dark);
    border-radius: 6px;
    padding: 6px 12px;
    height: 44px;
    font-size: 20px;
    color: var(--color-white);
}