.registrationForm {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.registrationField {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.registrationLabel {
  display: inline-flex;
  align-self: self-start;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-scheme-1-text);

  @media only screen and (min-width: 565px) {
    font-size: 18px;
  }
}

.registrationInput {
  width: 100%;
  font-size: 16px;
  background: var(--opacity-transparent);
  transition: var(--transition);
  border: 1px solid var(--opacity-neutral-darkest-15);
  border-radius: 6px;
  padding: 10px 20px;
  height: 46px;

  &:focus,
  &:hover {
    border: 1px solid var(--color-scheme-1-accent);
  }

  @media only screen and (min-width: 1200px) {
    font-size: 18px;
    height: 52px;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--color-scheme-1-text);
    -webkit-box-shadow: 0 0 0px 1000px var(--opacity-transparent) inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}

.registrationInputError {
  border: 1px solid var(--color-red);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--color-red);
}

.registrationErrorText {
  bottom: -18px;
  position: absolute;
  color: var(--color-red);
  font-size: 12px;
  font-weight: 400;
}

.registrationSubmitButton {
  width: 100%;
  border: 1px solid var(--color-mantis-dark);
  font-size: 16px;
  color: var(--color-white);

  @media only screen and (min-width: 1200px) {
    font-size: 20px;
  }
}

.showPwdBtn {
  position: absolute;
  right: 10;
  top: 44%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 41px;
  height: 41px;
  padding: 0;
  border-radius: 6px;

  @media only screen and (min-width: 565px) {
    top: 46%;
  }
}

.eyeIcon {
  width: 24px;
  height: 24px;
}

:global([data-theme="dark"]) .eyeIcon {
  color: #fff;
}

:global([data-theme="light"]) .eyeIcon {
  color: #000;
}
