.button {
  width: 32px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-scheme-2-border);
  border-radius: 6px;
  background-color: var(--opacity-neutral-darkest-5);
  padding: 0;
}

.icon {
  display: block;
  width: 24px;
  height: 24px;
}
