.button {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  padding: 0;
  border: 1px solid var(--color-scheme-2-border);
  background-color: var(--opacity-neutral-darkest-5);
}

.icon {
  display: block;
  width: 24px;
  height: 24px;
}

:global([data-theme="light"]) .icon {
  color: #1b391b !important;
  fill: #1b391b !important;
}

:global([data-theme="dark"]) .icon {
  color: #fff !important;
  fill: #fff !important;
}
